{% extends "base.html"%}
{% block content %}
<main>
    <div>
        <h1>{{ todo_list.name }}</h1>
        <h2> Tasks </h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
               {% for task in tasks %}
                <tr>
                    <td>{{ task.task }}</td>
                    <td>{{ task.due_date }}</td>

                    <tr> 
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
