{% extends "base.html" %}
{% load static %}

{% block content %}

<main>
    <div>
        <h1>Todos</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Task Count</th>
                </tr>
            </thead>
            <tbody>
                {% for todo_list in todo_lists %}
                    <tr>
                        <td><a href="{% url "todo_list_detail" id=todo_list.id %}">{{ todo_list.name}}</a></td>
                        <td>{{todo_list.rodoitem_set.count}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock %}
                